.h-full{
    height: 100%;
}

.h-screen{
    height: 100vh;
}

.list-no-marker{
    list-style-type: none;
}

/* .bg-test{
    background-color: blue;
} */

/* .v-ellipsis {
    font-size: 1.5em;
} */


.left-boarder-green {
    border-left: 3px solid;
    border-left-color: green;
}

.card-width{
    width: 24em;
}

.card-in-card-width{
    width: 24em;
}

/* .text-ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
} */