.wd-course-navigation {
    background-color: white;
    list-style: none;
    padding: 0px;
    width: 190px;
    margin: 0px;
    margin-left: 25px;
    margin-right: 20px;
}

.wd-course-navigation li {
    padding-left: 10px;
    /* margin-bottom: 10px; */
    /* margin-top: 10px; */
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.1rem;
}

/* .wd-course-navigation li {
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
} */

.wd-course-navigation li.wd-active {
    border-left: 2px solid black;
}

.wd-course-navigation li.wd-active a {
    color: black;
}

.wd-course-navigation a {
    color: red;
    text-decoration: none;
}

#course-side-bar-title {
    width: 200px;
}
